@page "/"

@inject NavigationManager Nav
@inject IJSRuntime Confirmacion

<EditForm Model="user" >

    <div class="container"style="width:310px">
        <div class="card bg-light "style="height:330px">
           
            <div class="card-header bg-transparent">
                <div class="text-center">
                    <h3>Iniciar sesión</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-center mt-3">
                    <div>
                        <i class="oi oi-person" style="font-size:50px"></i>
                    </div>
                </div>
            </div>
            
            <form>
                <div class="container">
                      <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="oi oi-person"style="font-size:15px" /></span>
                         </div>
                        <InputText class="form-control" placeholder="Nombre de usuario" @bind-Value="user.NombreDeUsuario" />
                      </div>
                </div>


                <div class="form-group text-center" display: inline-block>
                    <button class="btn btn-primary" @onclick="F_Login">Iniciar sesión</button>
                    <button class="btn btn-primary">Cancelar</button>
                </div>


                <div class="d-flex justify-content-center mt-4">
                    No tienes una cuenta?<a href="/RUsuarios" class="ml-2" @onclick="Registrar">Registrarse</a>
                </div>
            </form>

        </div>
    </div>


</EditForm>

@code {

    Usuarios user = new Usuarios();

    public void Nuevo()
    {
        user = new Usuarios();

    }
    private void F_Login()
    {

        if (UsuariosBLL.ExisteUsuario(user.NombreDeUsuario))
        {
            Nav.NavigateTo($"/Bienvenida");
        }
        else
        {
            Nuevo();
        }
    }

    private void Registrar()
    {
        Nav.NavigateTo($"/RUsuarios");
    }
}
