@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background: linear-gradient(to bottom, #6600cc 0%, #9933ff 100%); ">
        <NavMenu />
    </div>

    <div class="main" style="background-image: url('./Images/Dino.jpg'); width: inherit; background-repeat: no-repeat; background-size: cover; background-attachment:fixed">
        <div class="top-row px-4 auth" style="background: linear-gradient(to right, #6600cc 0%, #9933ff 100%) ">

            <div class="form-inline w-100">

                <a class="nav-link" href="InformacionN">
                    <i>Desarrolladores Web 🌋</i>
                </a>
            </div>


            <LoginDisplay />
        </div>


            <div class="content px-4">
                @Body
                <BlazoredToasts/>
            </div>
        </div>
</div>
