@page "/InformacionN"


<style>
    .center {
        text-align: center;
        margin: 40px;
    }

    body, html {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .vertical-center {
        margin-top: 1%;
    }
</style>

<body>
    <div class="container vertical-center">
        <h1 style="text-align:inherit;"><b class="m-4 p-4 border-left text-white">Desarrolladores</b></h1>
        <br /><br />
        <div class="form-inline justify-content-center">
            <h6 class="center">
                <a href="https://github.com/Jonathan01-CMD">
                    <img src="./Images/yo.jpg" class="oi-image rounded-circle" width="125" height="125" />
                    <br /><br /><b>Jonathan Hidalgo</b>
                </a>
            </h6>

            <h6 class="center">
                <a href="https://github.com/Erick14955">
                    <img src="./Images/erik.jpg" class="oi-image rounded-circle" width="125" height="125" />
                    <br /><br /><b>Erickson Fa&ntilde;a</b>
                </a>
            </h6>

            <h6 class="center">
                <a href="https://github.com/Anneury">
                    <img src="./Images/aneury1.jpg" class="oi-image rounded-circle" width="125" height="125" />
                    <br /><br /><b>Anneury Andres</b>
                </a>
            </h6>

            <div class="form-inline justify-center">
                <div class="form-inline justify-center">
                    <h6 class="center">
                        <a href="https://github.com/Robinson728">
                            <img src="./Images/robin.jpeg" class="oi-image rounded-circle" width="125" height="125" />
                            <br /><br /><b>Robinson Sarante</b>
                        </a>
                    </h6>
                </div>
                <h6 class="center">
                    <a href="https://github.com/FranllyMendoza">
                        <img src="./Images/franlly.jpg" class="oi-image rounded-circle" width="125" height="125" />
                        <br /><br /><b>Franlly Mendoza</b>
                    </a>
                </h6>


            </div>

        </div>
    </div>

    <a  class="container vertical-center" href=" https://github.com/Robinson728/DinoMatchGame.git"><b>Link de trabajo</b></a>




</body>